SEOBLOG_ENV=development
SEOBLOG_HTTP_ADDR=:8080
SEOBLOG_DB_PATH=./seoblog.db
SEOBLOG_DEV_AUTH=false
SEOBLOG_TRUSTED_PROXIES=
SEOBLOG_REDIS_ADDR=127.0.0.1:6379
SEOBLOG_REDIS_PASSWORD=
SEOBLOG_REDIS_TIMEOUT=150ms
SEOBLOG_ADMIN_PUBLIC_URL=http://localhost:8088
SEOBLOG_SMTP_ADDR=smtp.zeptomail.com:587
SEOBLOG_SMTP_USERNAME=emailapikey
SEOBLOG_SMTP_PASSWORD=
SEOBLOG_SMTP_REQUIRE_STARTTLS=true
SEOBLOG_SMTP_FROM=noreply@proctorplus.io
SEOBLOG_SMTP_FROM_NAME=Proctorplus Team
SEOBLOG_BOOTSTRAP_PASSWORD=
